#mid {

}

#aboutMe {
    text-align: justify;
    width: 400px;
}

#aboutMe p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 25px;
}

a {
    text-decoration: none; /* removes underline */
    color: inherit; /* inherits color from parent */
    cursor: pointer; /* makes it look clickable */
}

p a {
    color: black;
    font-weight: 600;
}

blockquote {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
}

#quote {
    margin-bottom: 10px !important;
}
.quoter {
    margin-bottom: 0 !important;
}
  
.pic {
    width: 300px;
    height: auto;
    align-self: flex-start;
    margin: 0 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(242, 238, 238);
    margin: 0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}
.inner_body {
    margin: 0 50px;
    display: block;
}
p {
    padding: 0;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

/* Header Items */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 86, 16);
    height: 40px;
    padding: 0 20px;
}
h1,
.menu {
    color: #edf0ec;
}
h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    width: 180px;
}

/* Body Items */
/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color:rgb(16, 86, 16);
    display: block;
    margin: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .project-container {
      grid-template-columns: 1fr;
      width: 100%;
      max-width: 600px;
    }
}

.project-item {
    text-align: center;
    flex: 0 0 calc(50% - 40px);
    max-width: 300px;
    min-width: 300px;
}

.project-item img {
    max-width: 300px;
    height: auto;
}
  
.project-item div {
    font-weight: bold;
}
  
.project-item p {
    margin-top: 10px;
}

.group {
    color: rgb(16, 86, 16);
    padding-bottom: 25px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgba(36, 35, 35, 0.342);
    height: 5vh;
}

.footer img {
    margin: 0 5px;
    margin-top: 5px;
}

.logos {
    width: 30px;
    border: 1px black solid;
    border-radius: 20%;
}


/* Rock Paper Scissors */
#rps {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.images {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* Result Properties */
#result {
    display: inline-block;
}

/* Play Button Properties */
#play {
    display: inline-block;
    background-color: lightgreen;
    font-size: 104px;
    margin-bottom: 20px;
}

#play:hover {
    background-color: rgba(144, 238, 144, 0.75);
}


/* Game buttons and score properties */
#rpsHeader,
#etchHeader {
    position: absolute;
    top: 0;
    width: 100%;
}

#rpsFooter,
#etchFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#rps {
    height: 100vh;
}

.rpsButtons button,
.score p {
    display: none;
}

.rpsButtons button {
    font-size: 16px;
    background-color: transparent;
    width: 80px;
    height: 40px;
    margin: 10px 0;
}

.rpsButtons button:hover {
    background-color: #ccc;
}

.images #playerImage,
.images #cpuImage {
    width: 150px;
}


/* Etch a sketch */
#etch {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new,
.reset {
    width: 130px;
    font-size: 25px;
    margin-bottom: 25px;
}

.section {
    width: 400px;
    display: flex;
    justify-content: space-between;   
}

.new {
    background-color: lightblue;
}

.reset {
    background-color: yellow;
}


button:hover {
    background-color: greenyellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    border: 3px solid black;
}

[class*="gridElement"] {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
}

.blog {
    color: black;
}

.project-item img {
    width: 300px;
    height: 300px;
}

#linkedin:hover { background-color: #0077b5; }
#github:hover { background-color: black; }